<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1>Yummy<span>.</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
    <!-- .navbar -->

    <form class="d-flex">
      <!-- Thay đổi từ button thành a với routerLink -->
      <!-- Thay đổi thành div với routerLink -->
      <div routerLink="/cart" class="btn btn-outline-dark">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </div>

      <!-- Thay đổi từ 'Login' sang 'Logout' khi isAuthenticated là true -->
      <ng-container *ngIf="authService.isAuthenticated; else loginButton">
        <button class="btn-book-a-table" (click)="authService.logout()">
          Logout
        </button>
      </ng-container>
      <ng-template #loginButton>
        <a class="btn-book-a-table" routerLink="/login">Login</a>
      </ng-template>
    </form>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
