<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
              <div class="breadcrumb-text">
                  <p>Fresh and Organic</p>
                  <h1>Check Out Product</h1>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="checkout-section mt-150 mb-150">
  <div class="container">
      <div class="row">
        
          <div class="col-lg-8 mb-2">
              <div class="checkout-accordion-wrap">
                  <div class="accordion" id="accordionExample">
                    <div class="card single-accordion">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <h3 >Thông tin nhận hàng </h3>
                        </h5>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="billing-address-form">
                              <form >
                                  <p><input  class="form-control" type="text" placeholder="Name"></p>
                                  <p><input  class="form-control" type="email" placeholder="Email"></p>
                                  <p><input  class="form-control" type="text" placeholder="Address"></p>
                                  <p><input  class="form-control" type="tel" placeholder="Phone"></p>
                                  <p><textarea class="form-control" name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="order-details-wrap">
                  <table class="order-details table">
                      <thead>
                          <tr>
                              <th>Sản phẩm </th>
                              <th>Đơn Giá </th>
                              <th>Số lượng</th>
                          </tr>
                      </thead>
                      <tbody class="order-details-body">
                        <!-- Loop through cartList to display each item -->
                        <tr *ngFor="let item of cartList">
                          <td>{{ item.Name }} </td>
                          <td>{{ item.Price }} </td>
                          <td>{{ item.Quantity }}</td>
                        </tr>
                      </tbody> <hr>
                      <tfoot>
                          <tr>
                              <td>Tổng cộng</td>
                              <!-- Display total price -->
                              <td>{{ getTotalPrice() }}</td>
                          </tr>
                          <!-- Shipping and Total -->
                      </tfoot>
                  </table>
                  <button class="btn btn-info mt-2" (click)="hello()">Thanh Toán</button>
              </div>
          </div>
      </div>
  </div>
</div>
