<div class="container padding-bottom-3x mt-5">
    <!-- Shopping Cart -->
    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#" (click)="DeleteAll()">Clear Cart</a></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartList">
                    <td><a class="product-thumb" href="#"><img [src]="item.ImageUrl" width="100px" [alt]="item.Name"></a></td>
                    <td><h4 class="product-title"><a href="#">{{ item.Name }}</a></h4></td>
                    <td><input type="number" name="quantity" [(ngModel)]="item.Quantity"></td>
                    <td class="text-center text-lg text-medium">{{ item.Price && item.Quantity ? item.Price * item.Quantity : 0 }}</td>
                    <td class="text-center">
                        <a class="remove-from-cart" href="#" (click)="item.Id && Remove(item.Id)" data-toggle="tooltip" title="Remove item">
                            <i class="fa fa-trash"></i>Xoá
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        <div class="column text-lg">Subtotal: <span class="text-medium">{{ ItemSum() }}</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" routerLink="/"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
    </div>
</div>
